

<div class="main-container">
<section class="review-article-container">
    <h2>@Model.Author</h2>
    <div class="review-article-img-container">
        <img src="@Model.ImageUrl" alt="">
    </div>
    <article class="review-article-content">
        <h2 class="review-article-title">@Model.Title</h2>
        <p>
            @Model.Description
        </p>
    </article>
    
    <p class="review-article-date">@Model.Date</p>
</section>
</div>

